.home-wrapper {
    display: flex;
    background-image: url(https://releases.rancher.com/dashboard/latest/shell/assets/images/pl/login-landscape.svg);
    overflow-x: hidden;
}
.home {
    box-sizing: border-box;
    width: calc(100vw - 200px);
}

.home-title {
    text-align: center;
    font-size: 2rem;
    position: fixed;
    z-index: 2;
    bottom: 0;
    top: 300px;
    right: 500px;
}

.gopher {
    height: 300px;
    position: fixed;
    bottom: 0;
    max-width: 100%;
}

.bubble {
    position: fixed;
    height: 400px;
    bottom: 300px;
    left: 300px;
    max-width: 100%;
}