body {
  margin: 0;
  font-family: "Lato",arial,helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Lato",arial,helvetica,sans-serif;
}
