.login-wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 100vw;
    background-color: #1b1c21;
    color: #fff;
}

.left {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.login-title {
    font-size: 24px;
    line-height: 1.15;
    margin-bottom: 20px;
}

.logo-cow {
    display: block;
    width: 375px;
}


.password {
    margin-top: 35px;
    width: 300px;
    height: 30px;
    border: none;
    border-bottom: 1px solid grey;
    text-align: center;
    background-color: #1b1c21;
    color: #0175A8;
    letter-spacing: 1.75px;
    outline: none;
    font-size: 14px;
    margin-left: 14px;
}

.password:hover {
    cursor: pointer;
}

.password:focus {
   border-bottom: 1px solid #fff;
   caret-color: #1b1c21;
   cursor: none;
}

.password::placeholder { 
    text-align: center;
}

.password:focus::placeholder { 
    color: #1b1c21;
}

.password:focus:hover::placeholder { 
    color: #1b1c21;
}

.password:hover::placeholder {
    color: #fff;
}
  
.password:-ms-input-placeholder {
    text-align: center;
  }
  
.password::-ms-input-placeholder {
    text-align: center;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}