.module-container {
    height: 25px;
    padding: 0 10px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 12px;
    /* background-color: rgba(0,0,0,0.2); */
    /* color: #fff; */
    /* background-color: #D9ECEF;
    color: #0175A8; */
}

.module-container:hover {
    color: #fff;
    background-color: rgba(140,196,63, 0.8);
    /* background-color: #BAD546; */
    /* background-color: #0175A8; */
    cursor: pointer;
}

/* p {
    font-weight: bold;
} */

.module-details {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 50vw;
    height: 165px;
    justify-content: space-evenly;
    /* background-color: rgba(0,0,0,.9); */
     /* background-color: rgba(1,117,168,.8); */
     /* background-color: rgba(109,167,57,.9); */
     background-color: rgba(91,149,50,.9);
    border-radius: 12px;
    color: white;
    background-image: url('../static/rgf.png');
    background-size: 45vw;
    background-position: center;
    background-repeat: no-repeat;
    
}

.spec {
    display: flex;
    padding: 0 2vw;
}

.spec-title {
    margin: 0 auto;
    font-weight: bold;
}

.value {
    font-weight: bold;
}

.trash {
    /* color: pink; */
    height: 25px;
    position: absolute;
    bottom: 7%;
    left: 81%;
    cursor: pointer;
}

.trash:hover {
    color: #c60200;
}