.module-container {
    height: 25px;
    padding: 0 10px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 12px;
    /* background-color: rgba(0,0,0,0.2); */
    /* color: #fff; */
    /* background-color: #D9ECEF;
    color: #0175A8; */
}

.module-container:hover {
    color: #fff;
    background-color: rgba(140,196,63, 0.8);
    /* background-color: #BAD546; */
    /* background-color: #0175A8; */
    cursor: pointer;
}

/* p {
    font-weight: bold;
} */

.module-details {
    display: flex;
    flex-direction: column;
}