.nav {
    box-sizing: border-box;
    width: 350px;
    border: 1px solid green;
}

.nav-title {
    text-align: center;
    font-size: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
}

.links {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.create-nav, .manage-nav, .config-nav, .logout-nav {
    cursor: pointer;
    border: 1px solid red;
    padding: 10px;
}

.create-link, .manage-link, .config-link, .logout-link {
    padding-left: 15px;
    text-decoration: none;
}